/* .container-all {
  margin: 160px auto;
}

.container {
  margin: auto;
  justify-content: space-between;
  width: 80%;
}

.sub-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 24px;
  
} */

.link {
  text-decoration: none;
}

.box {
  color: orange;
  text-align: left;
  margin-left: 20px;
}


